.contact h2 {
  font-family: "Apollonia";
  font-size: clamp(58px, 10cqw, 80px);
  text-transform: uppercase;
  color: var(--gray);
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-container img {
  width: 100%;
  max-width: 700px;
  height: 600px;
}

.contact-form-container {
  width: 100%;
  max-width: 700px;
}

.contact-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 50px;
}

.contact-form-grid input,
.contact-form-grid textarea {
  color: #575757;
  border: 1px solid #57575762;
  padding: 25px;
  border-radius: 7px;
}

.contact-form-grid input[type="email"] {
  grid-column: 1 / 3;
}

.contact-form-grid textarea {
  grid-column: 1/ 3;
  min-height: 200px;
}

.contact-form-container .button {
  grid-column: 1/ 3;
  padding-block: 22px;
  text-align: center;
}

@media (width < 1230px) {
  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contact h2 {
    text-align: center;
  }

  .contact-container img {
    display: none;
  }
}

@media (width < 650px) {
  .contact-form-grid {
    grid-template-columns: 1fr;
    gap: 40px 0;
  }

  .contact-form-grid input[type="text"]:nth-child(2) {
    grid-row: 2/3;
  }
}
